.bg-black{
	background-color: black;
}
img{
	width:100%;
}
.font-div{
	width: 30%;
}
.row{
	margin-top:2%;
}
.btn-success{
	margin-top:1%;
}
/*Responsiveness*/
@media only screen and(min-width: 1198px){
	.font-div{
		padding: 42.2px 0px!important;
	}
}
@media(max-width: 992px){
	.display-4{
		font-size: 250%;
	}
	.social a{
		font-size: 4em;
		padding: 2rem;
	}
}
@media(max-width: 768px){
	
	.display-4{
		font-size: 200%;
	}
	
	.social a{
		font-size: 2.5em;
		padding: 1.2rem;
	}
}
@media(max-width: 576px){
	
	.display-4{
		font-size: 160%;
	}
	.social a{
		font-size: 2em;
		padding: .7rem;
	}
}
