.bg-black{
	background-color: black;
}
img{
	width:100%;
}
.font-div{
	width: 30%;
}
.row{
	margin-top:2%;
}
.btn-success{
	margin-top:1%;
}
/*Responsiveness*/
@media only screen and(min-width: 1198px){
	.font-div{
		padding: 42.2px 0px!important;
	}
}
